@charset "utf-8";
a {
	font-size: 24px;
	font-weight: bold;
}
a:link {
	text-decoration: none;
	color: firebrick;
}
a:visited {
	text-decoration: none;
	color: #120f68;
}
a:hover {
	text-decoration: underline;
	color: green;
}
a:active {
	text-decoration: none;
	color: #120f69;
}

/* CSS Document */


#header {
	clear: none;
	width: 539px;
	float: none;
	margin: auto;
}
#link {
	font-family: Verdana, Geneva, sans-serif;
}
