<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html dir="ltr">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<!-- Start css3menu.com HEAD section -->
	<link rel="stylesheet" href="../pages/css/menu_style.css" type="text/css" /><style>._css3m{display:none}</style>
	<!-- End css3menu.com HEAD section -->
	
</head>
<body style="background-color:#EBEBEB">

<!-- Start css3menu.com BODY section -->
<ul id="css3menu1" class="topmenu">
	<li class="topmenu"><a href="http://mhsweb2.com/carter" title="Home" style="height:48px;line-height:48px;"><img src="../menu/home.png" alt=""/>Home</a></li>
	<li class="topmenu"><a href="http://mhsweb2.com/carter/pages/personal.html" title="Personal" style="height:48px;line-height:48px;"><img src="../menu/personal.png" alt=""/>Personal</a></li>
	<li class="topmenu"><a href="http://mhsweb2.com/carter/pages/links.html" title="Links" style="height:48px;line-height:48px;"><img src="../menu/links.png" alt=""/>Links</a></li>
	<li class="topmenu"><a href="http://mhsweb2.com/carter/pages/school.html" title="School" style="height:48px;line-height:48px;"><img src="../menu/school.png" alt=""/>School</a></li>
	<li class="toproot"><a href="http://mhsweb2.com/carter/pages/web2.html" title="Web2" style="height:48px;line-height:48px;"><span><img src="../menu/web2.png" alt=""/>Web 2</span></a>
	<ul>
		<li><a href="http://mhsweb2.com/carter/pages/DW.html" title="Dreamweaver"><img src="../menu/dw.png" alt=""/>Dreamweaver</a></li>
		<li><a href="http://mhsweb2.com/carter/pages/PS.html" title="Photoshop"><img src="../menu/ps.png" alt=""/>Photoshop</a></li>
		<li><a href="http://mhsweb2.com/carter/pages/AI.html" title="Illustrator"><img src="../menu/ai.png" alt=""/>Illustrator</a></li>
		<li><a href="http://mhsweb2.com/carter/pages/FL.html" title="Flash"><img src="../menu/fl.png" alt=""/>Flash</a></li>
		<li><a href="http://mhsweb2.com/carter/pages/FW.html" title="Fireworks"><img src="../menu/fw.png" alt=""/>Fireworks</a></li>
		<li><a href="http://mhsweb2.com/carter/pages/acascores.html" title="ACA Scores"><img src="../menu/adobe.png" alt=""/>ACA Scores</a></li>
		<li><a href="http://mhsweb2.com/carter/pages/miscellaneous.html" title="Miscellaneous"><img src="../menu/misc.png" alt=""/>Miscellaneous</a></li>
	</ul></li>
	<li class="toplast"><a href="http://mhsweb2.com/carter/pages/contact.html" title="Contact Me" style="height:48px;line-height:48px;"><img src="../menu/contact.png" alt=""/>Contact Me</a></li>
</ul><p class="_css3m"><a href="http://css3menu.com/">Html Radio Button CSS Css3Menu.com</a></p>
<!-- End css3menu.com BODY section -->

</body>
</html>
