.twoColFixLtHdr #header h1 {
	margin: 0;
	padding: 10px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #CCC;
}
.twoColFixLtHdr #footer {
	padding: 0 10px 0 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
	background-color: #fff;
	background-image: url(../../../../../pages/old_sites/W2/Umbria/lesson05/images/cloud_header.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	display: none;
} 
